*{
	margin: 0;
}
html , body{
	font-family: 'Open Sans', sans-serif;
}
header{
	background: url('full-bloom.png');
	height: 500px;
	clear: both;
	width: 100%;
}
header nav ul{
	background-color: brown;
	display: inline-block;
	width: 98%;
}
header nav ul li{
	list-style: none;
	float: right;
	padding: 20px 30px;
}
header nav ul li a{
	text-decoration: none;
	color: white;
}
.container{
	width: 100%;
	margin: 0 auto;
}
.logo{
	float: left;
	color: grey;
	padding: 10px;
	font-size: 30px;
}
.banner h1{
	color: black;
	width: 50%;
	margin: 100px auto;
	text-align: center;
}
.banner h5{
	color: black;
	width: 50%;
	margin: 50px auto;
	text-align: center;
}
.body{
	float: left;
	width: 50%;
	margin: 100px;
}
.button{
	padding: 10px;
	margin: 100px;
	float: right;
	background-color: green;
}
.desc{
	padding: 30px;
	text-align: center;
}
.gallery{
	margin: 10px;
	border: 1px solid #ccc;
	float: right;
	width: 30%;
}
.gallery img{
	width: 100%;
	height: auto;
}
.clear{
	clear: both;
}
.bagiempat{
	width: 20%;
	float: left;
	margin: 30px;
	text-align: justify;
}
footer{
	background-color: grey;
	width: 100%;
	height: 400px;
	display: inline-block;
}
.copyright{
	text-align: center;
	clear: both;
	background-color: black;
	color: white;
}